* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  background-image: url('mural.jpg');
  background-size: cover;
  background-position: top center;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

.title{
    margin-bottom: 2%;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px 15px;
}

.search input {
  width: 80%;
  max-width: 260px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid whitesmoke;
  
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

.search input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}


.current .temp {
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

.rainVideo {
    display: none;
    bottom: 0;
}

.sunVideo {
    display: none;
    bottom: 0;
}

.cloudVideo {
    display: none;
    bottom: 0;
}
.nightVideo{
    display: none;
    bottom: 0;
}
.cloudVideo{
    display: none;
    bottom: 0;
}
.hotVideo{
    display: none;
    bottom: 0;
}
.snowVideo{
    display: none;
    bottom: 0;
}
.stormVideo{
    display: none;
    bottom: 0;
}
.coldVideo{
    display: none;
    bottom: 0;
}


.shadow { 
   color: white; 
   font: bold 75px Helvetica, Arial, Sans-Serif;
   text-shadow: 1px 1px #fe4902, 
                2px 2px #fe4902, 
                3px 3px #fe4902;
   -webkit-transition: all 0.12s ease-out;
   -moz-transition:    all 0.12s ease-out;
   -ms-transition:     all 0.12s ease-out;
   -o-transition:      all 0.12s ease-out;
}
.shadow:hover {
    cursor: pointer;
    position: relative; 
    top: -3px; 
    left: -3px; 
    text-shadow: 1px 1px #fe4902, 
                2px 2px #fe4902, 
                3px 3px #fe4902, 
                4px 4px #fe4902, 
                5px 5px #fe4902, 
                6px 6px #fe4902;
}

.smoke { 
   color: white; 
   font: bold 52px Helvetica, Arial, Sans-Serif;
   text-shadow: 1px 1px black, 
                2px 2px black, 
                3px 3px black;
   -webkit-transition: all 0.12s ease-out;
   -moz-transition:    all 0.12s ease-out;
   -ms-transition:     all 0.12s ease-out;
   -o-transition:      all 0.12s ease-out;
}
.smoke:hover {
    cursor: pointer;
    position: relative; 
    top: -3px; 
    left: -3px; 
    text-shadow: 1px 1px black, 
                2px 2px black, 
                3px 3px black, 
                4px 4px black, 
                5px 5px black, 
                6px 6px black;
}


footer{
    position: sticky bottom;
}

.menu{
     border-bottom: 2px solid black;
}
.songList{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: rgba(0,0,0, .6);
}

.songList-bottom li{
    padding: 1rem;
}
.songList li{
    padding: 1rem;
}

.songList li:hover{
    cursor: pointer;
   background-color: rgba(0,0,0, .9);
   color: wheat;
}

.songList-bottom{
    display: flex;
    justify-content: space-around;
    list-style: none;
   background-color: rgba(0,0,0, .6);
}

.songList-bottom li:hover{
    cursor: pointer;
      background-color: rgba(0,0,0, .9);
   color: wheat;
}
}

